<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8"/>
      <meta name="viewport"content="width=device-width, initial-scale=1.0"/>
      <title>
         Nitor LMS Leave Notification
      </title>
   </head>
   <body>
      <center>
         <strong>
            <h1> Nitor LMS Leave Notification </h1>
         </strong>
      </center>
      Hi User,
      <p><strong> {{email}}</strong> is on leave from  <strong> {{start_date}} </strong> to <strong> {{end_date}} </strong>.</p>
      <br>
      <p> If you need any additional assistance or you did not make any changes,
         please contact rms@nitorinfotech.com
      </p>
      <br>
      <p>Regards,</p>
      <p>Nitor Infotech Private Limited </p>
   </body>
</html>