<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8"/>
      <meta name="viewport"content="width=device-width, initial-scale=1.0"/>
      <title>
         Nitor LMS Leave Approval pending
      </title>
   </head>
   <body>
      <center>
         <strong>
            <h1> Nitor LMS Leave - Approval pending </h1>
         </strong>
      </center>
      Hi Admin,
      <p>LMS Leave for <strong> {{email}}</strong> is pending for approval.</p>
      <p> To view details about this request, <a href="{{pending_approval_link}}">Click here</a> </p>
      <br>
      <p> If you need any additional assistance or you did not make any changes,
         please contact rms@nitorinfotech.com
      </p>
      <br>
      <p>Regards,</p>
      <p>Nitor Infotech Private Limited </p>
   </body>
</html>